In [4]:
import pandas as pd

#### DATA: https://archive.ics.uci.edu/ml/datasets/Housing

#### Q1: load the data correctly (hint: search for delimiter, header, skipinitialspace keyword

In [1]:
!ls -l

total 560
-rw-r--r--@ 1 Guan  staff   95834 Jun 20 21:18 Python-Eco-system.ipynb
-rw-r--r--  1 Guan  staff     814 Jun 20 21:22 README.md
-rw-r--r--  1 Guan  staff     764 Jun 20 21:16 README.md~
-rw-r--r--  1 Guan  staff   49082 Jul  7  1993 housing.data
-rw-r--r--@ 1 Guan  staff   16032 Jun 14 21:02 housing.ipynb
-rw-r--r--  1 Guan  staff    2080 Jul  7  1993 housing.names
-rw-r--r--@ 1 Guan  staff  110458 Jun 20 21:22 kaggle-titanic-raw.ipynb

In [5]:
path_data = 'housing.data'
lst_colNames = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
df = pd.read_table(path_data, delim_whitespace = True, header = None, names = lst_colNames)

In [6]:
pd.read_table?

In [7]:
print df.shape
df.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

#### Q2: Is there any missing values?

In [17]:
df.isnull().values.sum(0)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

#### Q3: how many towns have more than 60% buildings before 1940?

In [59]:
print df.AGE.median(), df.AGE.mean()

77.5 68.5749011858

In [20]:
df_filtered = df[df['AGE'] > 60]

In [21]:
len(df_filtered)

321

#### Q4: within the above mentioned towns, what is their average nitric oxides concentration?

In [26]:
df_filtered['NOX'].mean()

#### Q5: find out how the housing price differs according to whether close or not to the river (hint: group)

In [27]:
df.groupby?

In [28]:
df.groupby(['CHAS'])['MEDV'].mean()

CHAS
0    22.093843
1    28.440000
Name: MEDV, dtype: float64

#### Q6: create a new discrete variable, to indicate high/mediam/low price town region (hint: qcut)

In [29]:
df['RANK'] = pd.qcut(df['MEDV'],3,labels=['low','mid','high'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,RANK
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,high
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,mid
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,high
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,high
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,high

#### Q7: create pivot table to visualize how the crime rate differs with price and close-to-river or not (hint: pivot table)

In [31]:
print pd.pivot_table(df,values='CRIM',index=['RANK'],columns=['CHAS'],aggfunc='mean')
# print df.groupby(['CHAS','RANK'])['CRIM'].mean()

CHAS         0         1
RANK
low   8.965251  3.766973
mid   1.303083  1.208149
high  0.638312  1.629931

In [30]:
pd.pivot_table?

In [32]:
print df.groupby(['CHAS','RANK'])['CRIM'].mean()

CHAS  RANK
0     low     8.965251
      mid     1.303083
      high    0.638312
1     low     3.766973
      mid     1.208149
      high    1.629931
Name: CRIM, dtype: float64